.profile-view-student {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.profile-view-student .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 2000px;
  height: 1862px;
  position: relative;
}

.profile-view-student .group {
  position: absolute;
  width: 210px;
  height: 63px;
  top: 1050px;
  left: 1666px;
}

.profile-view-student .overlap-group {
  position: relative;
  width: 208px;
  height: 63px;
  background-color: #e44646;
  border-radius: 10px;
}

.profile-view-student .text-wrapper {
  position: absolute;
  height: 29px;
  top: 17px;
  left: 31px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #eefafc;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .div-2 {
  position: absolute;
  width: 2002px;
  height: 127px;
  top: 0;
  left: 0;
}

.profile-view-student .overlap {
  position: relative;
  width: 2000px;
  height: 127px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
}

.profile-view-student .text-wrapper-2 {
  position: absolute;
  width: 227px;
  height: 114px;
  top: 10px;
  left: 185px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .navbar {
  position: absolute;
  width: 1006px;
  height: 24px;
  top: 48px;
  left: 465px;
}

.profile-view-student .text-wrapper-3 {
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #115560;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-view-student .text-wrapper-4 {
  position: absolute;
  height: 24px;
  top: 0;
  left: 228px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #115560;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-view-student .text-wrapper-5 {
  position: absolute;
  height: 24px;
  top: 0;
  left: 822px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #115560;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-view-student .text-wrapper-6 {
  position: absolute;
  height: 24px;
  top: 0;
  left: 427px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #115560;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-view-student .text-wrapper-7 {
  position: absolute;
  height: 24px;
  top: 0;
  left: 620px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #115560;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-view-student .expand-arrow {
  position: absolute;
  width: 25px;
  height: 12px;
  top: 7px;
  left: 552px;
}

.profile-view-student .img {
  position: absolute;
  width: 25px;
  height: 12px;
  top: 7px;
  left: 359px;
}

.profile-view-student .expand-arrow-2 {
  position: absolute;
  width: 25px;
  height: 12px;
  top: 7px;
  left: 754px;
}

.profile-view-student .expand-arrow-3 {
  position: absolute;
  width: 25px;
  height: 12px;
  top: 6px;
  left: 971px;
}

.profile-view-student .group-2 {
  position: absolute;
  width: 226px;
  height: 52px;
  top: 35px;
  left: 1569px;
}

.profile-view-student .expand-arrow-4 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 20px;
  left: 208px;
}

.profile-view-student .text-wrapper-8 {
  position: absolute;
  top: 14px;
  left: 65px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-view-student .male-user {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 0;
  left: 0;
}

.profile-view-student .doorbell {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 46px;
  left: 1825px;
}

.profile-view-student .overlap-2 {
  position: absolute;
  width: 183px;
  height: 210px;
  top: 220px;
  left: 575px;
}

.profile-view-student .male-user-2 {
  position: absolute;
  width: 183px;
  height: 150px;
  top: 0;
  left: 0;
}

.profile-view-student .image {
  position: absolute;
  width: 161px;
  height: 66px;
  top: 144px;
  left: 11px;
  object-fit: cover;
}

.profile-view-student .overlap-wrapper {
  position: absolute;
  width: 357px;
  height: 239px;
  top: 229px;
  left: 144px;
}

.profile-view-student .overlap-3 {
  position: relative;
  width: 367px;
  height: 239px;
}

.profile-view-student .rectangle {
  position: absolute;
  width: 334px;
  height: 239px;
  top: 0;
  left: 0;
  background-color: #eaf6f9;
}

.profile-view-student .group-3 {
  position: absolute;
  width: 342px;
  height: 190px;
  top: 23px;
  left: 25px;
}

.profile-view-student .stop {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 43px;
  left: 0;
}

.profile-view-student .stop-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/2KChwhIp/img/stop-3@2x.png);
  background-size: 100% 100%;
}

.profile-view-student .stop-2 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 8px;
  left: 8px;
}

.profile-view-student .text-wrapper-9 {
  position: absolute;
  width: 189px;
  top: 11px;
  left: 62px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .text-wrapper-10 {
  position: absolute;
  width: 150px;
  top: 51px;
  left: 65px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .text-wrapper-11 {
  position: absolute;
  width: 107px;
  top: 159px;
  left: 66px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .overlap-4 {
  width: 332px;
  height: 64px;
  top: 85px;
  position: absolute;
  left: 0;
}

.profile-view-student .overlap-group-2 {
  position: absolute;
  width: 332px;
  height: 64px;
  top: 0;
  left: 0;
}

.profile-view-student .text-wrapper-12 {
  width: 324px;
  top: 38px;
  left: 8px;
  font-weight: 100;
  color: #000000;
  font-size: 16px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .stop-3 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}

.profile-view-student .text-wrapper-13 {
  position: absolute;
  width: 150px;
  top: 8px;
  left: 65px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-view-student .logout-rounded {
  position: absolute;
  width: 25px;
  height: 39px;
  top: 151px;
  left: 8px;
}

.profile-view-student .text-wrapper-14 {
  top: 731px;
  left: 904px;
  font-weight: 100;
  color: #000000;
  font-size: 16px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .text-wrapper-15 {
  position: absolute;
  top: 794px;
  left: 892px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-view-student .group-4 {
  position: absolute;
  width: 986px;
  height: 126px;
  top: 869px;
  left: 892px;
}

.profile-view-student .eye-wrapper {
  position: absolute;
  width: 453px;
  height: 78px;
  top: 48px;
  left: 0;
  background-color: #f2f2f2;
  border-radius: var(--shape-corner-small);
}

.profile-view-student .img-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 24px;
  left: 401px;
}

.profile-view-student .text-wrapper-16 {
  left: 10px;
  position: absolute;
  top: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #115560;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .img-wrapper {
  position: absolute;
  width: 453px;
  height: 78px;
  top: 48px;
  left: 529px;
  background-color: #f2f2f2;
  border-radius: var(--shape-corner-small);
}

.profile-view-student .eye {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 24px;
  left: 402px;
}

.profile-view-student .text-wrapper-17 {
  left: 539px;
  position: absolute;
  top: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #115560;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .overlap-group-wrapper {
  position: absolute;
  width: 986px;
  height: 466px;
  top: 229px;
  left: 892px;
}

.profile-view-student .overlap-5 {
  position: relative;
  width: 1008px;
  height: 466px;
}

.profile-view-student .group-5 {
  position: absolute;
  width: 1008px;
  height: 466px;
  top: 0;
  left: 0;
}

.profile-view-student .text-wrapper-18 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #115560;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .div-wrapper {
  position: absolute;
  width: 453px;
  height: 78px;
  top: 43px;
  left: 0;
  background-color: #f2f2f2;
  border-radius: var(--shape-corner-small);
}

.profile-view-student .text-wrapper-19 {
  position: absolute;
  width: 228px;
  top: 24px;
  left: 28px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .text-wrapper-20 {
  position: absolute;
  top: 159px;
  left: 529px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #115560;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .text-wrapper-21 {
  position: absolute;
  top: 318px;
  left: 529px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #115560;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .rectangle-2 {
  position: absolute;
  width: 453px;
  height: 78px;
  top: 202px;
  left: 529px;
  background-color: #f2f2f2;
  border-radius: var(--shape-corner-small);
}

.profile-view-student .text-wrapper-22 {
  position: absolute;
  top: 318px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #115560;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .overlap-6 {
  width: 453px;
  height: 78px;
  top: 361px;
  background-color: #f2f2f2;
  border-radius: var(--shape-corner-small);
  position: absolute;
  left: 0;
}

.profile-view-student .text-wrapper-23 {
  position: absolute;
  top: 159px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #115560;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .rectangle-3 {
  position: absolute;
  width: 453px;
  height: 78px;
  top: 202px;
  left: 0;
  background-color: #f2f2f2;
  border-radius: var(--shape-corner-small);
}

.profile-view-student .p {
  position: absolute;
  top: 447px;
  left: 28px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e44646;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-view-student .text-wrapper-24 {
  position: absolute;
  top: 0;
  left: 529px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #115560;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .overlap-group-3 {
  position: absolute;
  width: 453px;
  height: 78px;
  top: 43px;
  left: 529px;
  background-color: #f2f2f2;
  border-radius: var(--shape-corner-small);
}

.profile-view-student .text-wrapper-25 {
  position: absolute;
  top: 385px;
  left: 578px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .circled-thin {
  position: absolute;
  width: 39px;
  height: 39px;
  top: 380px;
  left: 529px;
}

.profile-view-student .text-wrapper-26 {
  position: absolute;
  top: 385px;
  left: 709px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .circled-thin-2 {
  left: 660px;
  position: absolute;
  width: 39px;
  height: 39px;
  top: 380px;
}

.profile-view-student .text-wrapper-27 {
  position: absolute;
  top: 385px;
  left: 820px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .circled-thin-3 {
  left: 771px;
  position: absolute;
  width: 39px;
  height: 39px;
  top: 380px;
}

.profile-view-student .box-important {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 449px;
  left: 0;
}

.profile-view-student .text-wrapper-28 {
  position: absolute;
  top: 447px;
  left: 562px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e44646;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-view-student .box-important-2 {
  top: 449px;
  left: 534px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.profile-view-student .text-wrapper-29 {
  position: absolute;
  top: 288px;
  left: 28px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e44646;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-view-student .box-important-3 {
  top: 290px;
  left: 0;
  position: absolute;
  width: 16px;
  height: 16px;
}

.profile-view-student .group-wrapper {
  position: absolute;
  width: 2000px;
  height: 662px;
  top: 1200px;
  left: 0;
  background-color: #eefafc;
}

.profile-view-student .group-6 {
  position: relative;
  width: 1583px;
  height: 475px;
  top: 93px;
  left: 235px;
}

.profile-view-student .overlap-7 {
  position: relative;
  width: 1585px;
  height: 475px;
}

.profile-view-student .group-7 {
  position: absolute;
  width: 1585px;
  height: 475px;
  top: 0;
  left: 0;
}

.profile-view-student .group-8 {
  position: absolute;
  width: 313px;
  height: 77px;
  top: 0;
  left: 1192px;
}

.profile-view-student .overlap-group-4 {
  position: relative;
  width: 309px;
  height: 77px;
}

.profile-view-student .text-wrapper-30 {
  position: absolute;
  width: 143px;
  height: 52px;
  top: 25px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #e44646;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .text-wrapper-31 {
  position: absolute;
  width: 309px;
  height: 68px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #6cd4e5;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .TP-h-n-i-c-u-gi-wrapper {
  position: absolute;
  width: 393px;
  height: 144px;
  top: 88px;
  left: 1192px;
}

.profile-view-student .TP-h-n-i-c-u-gi {
  position: absolute;
  width: 391px;
  height: 144px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.profile-view-student .span {
  font-weight: 700;
}

.profile-view-student .text-wrapper-32 {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.profile-view-student .group-9 {
  position: absolute;
  width: 313px;
  height: 77px;
  top: 280px;
  left: 587px;
}

.profile-view-student .kh-a-h-c-luy-n-thi-wrapper {
  position: absolute;
  width: 629px;
  height: 108px;
  top: 367px;
  left: 587px;
}

.profile-view-student .kh-a-h-c-luy-n-thi {
  position: absolute;
  width: 627px;
  height: 108px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.profile-view-student .group-10 {
  position: absolute;
  width: 313px;
  height: 77px;
  top: 0;
  left: 591px;
}

.profile-view-student .v-IELTS-horizon-thi-wrapper {
  position: absolute;
  width: 410px;
  height: 180px;
  top: 88px;
  left: 591px;
}

.profile-view-student .v-IELTS-horizon-thi {
  position: absolute;
  width: 408px;
  height: 180px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.profile-view-student .IELTS-HORIZON {
  position: absolute;
  width: 366px;
  height: 139px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .email-tete-wrapper {
  position: absolute;
  width: 383px;
  height: 72px;
  top: 348px;
  left: 0;
}

.profile-view-student .email-tete {
  position: absolute;
  height: 72px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.profile-view-student .group-11 {
  position: absolute;
  width: 223px;
  height: 200px;
  top: 148px;
  left: 0;
}

.profile-view-student .group-12 {
  position: relative;
  height: 200px;
}

.profile-view-student .group-13 {
  position: absolute;
  width: 199px;
  height: 43px;
  top: 0;
  left: 17px;
}

.profile-view-student .facebook {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 0;
  left: 0;
}

.profile-view-student .twitter-circled {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 0;
  left: 52px;
}

.profile-view-student .you-tube {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 0;
  left: 104px;
}

.profile-view-student .linkedin-circled {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 0;
  left: 156px;
}

.profile-view-student .group-14 {
  position: absolute;
  width: 227px;
  height: 77px;
  top: 123px;
  left: 0;
}

.profile-view-student .overlap-group-5 {
  position: relative;
  width: 223px;
  height: 77px;
}

.profile-view-student .text-wrapper-33 {
  width: 103px;
  height: 52px;
  top: 25px;
  left: 0;
  font-weight: 800;
  color: #e44646;
  font-size: 24px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .text-wrapper-34 {
  position: absolute;
  width: 223px;
  height: 68px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #6cd4e5;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-view-student .group-15 {
  position: absolute;
  width: 203px;
  height: 78px;
  top: 508px;
  left: 208px;
}

.profile-view-student .overlap-8 {
  position: relative;
  width: 201px;
  height: 78px;
  background-color: #115560;
  border-radius: 10px;
}

.profile-view-student .text-wrapper-35 {
  position: absolute;
  width: 169px;
  height: 29px;
  top: 24px;
  left: 15px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #eefafc;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
